- name: bootstrapping server Prod
  hosts: prod
  become: yes

  tasks:
  - name: Update all packages to the latest version
    apt:
      upgrade: dist

  - name: Ensure docker package is present
    apt:
      name: docker.io
      state: present

  - name: Copy files from localhost to Prod
    synchronize:
      src: ./hello-1.0.war
      dest: /home/ubuntu/